<%- include('partials/header.ejs') %>
<title>Sunglasses Express - The Best Sunglasses Online - Express Delivery </title>
</head>

<body>
    <%- include('partials/navigationbar.ejs') %>

    <h2>Welcome to the Home Page of Sunglasses Express</h2>
    <div>
        <% sunglasses.forEach(sunglass => { %>
        
            <div class="productimagecontainer">
            <img src="<%=sunglass.imgurl; %>" class="productdisplay" />
        </div>
            <a href="/sunglasses/<%=sunglass._id; %>"> <%=sunglass.model; %> </a>
            <%=sunglass.description; %>
            <span class="price"<%=sunglass.price; %>
            <%=sunglass.quantity; %>left
        
        <% }) %>
    </div>



    <%- include('partials/footer.ejs') %>
</body>

</html>