<%- include('partials/header.ejs') %>

<title> Sunglasses Express - The Best Sunglasses Online - Express Delivery </title>
</head>
<body>
	<%- include('partials/navigationbar.ejs') %>

	<h2><%=sunglass.model %></h2>
	<img src="<%=sunglass.imgurl %>">
	<br />
	Description: <%= sunglass.description%>
	<br />
	Price: $<%= sunglass.price %>
	<%- include('partials/footer.ejs') %>
</body>

</html>